@font-face {
  font-family: "HK Grotesk";
  font-weight: regular;
  src: url("/public/HKGrotesk-Regular");
} @font-face {
  font-family: "HK Grotesk";
  font-weight: medium;
  src: url("/public/HKGrotesk-Medium");
} @font-face {
  font-family: "HK Grotesk";
  font-weight: bold;
  src: url("/public/HKGrotesk-Bold");
}

:root {
  --colour-white: #FFFFFF;
  --colour-bg: #142E3D;
}

* {
  margin: 0;
  padding: 0;
  font-family: "HK Grotesk", "Inter", sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  background-color: var(--colour-bg);
  color: var(--colour-white);
}